@font-face {
    font-family: 'Baloo Cyrillic';
    src: url('BalooCyrillic.eot');
    src: local('Baloo Cyrillic'), local('BalooCyrillic'),
        url('BalooCyrillic.eot?#iefix') format('embedded-opentype'),
        url('BalooCyrillic.woff2') format('woff2'),
        url('BalooCyrillic.woff') format('woff'),
        url('BalooCyrillic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

