
.media-frame {
  min-height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .7);
  background: #fcfcfc;
  -webkit-font-smoothing: subpixel-antialiased;
  position: relative;
  z-index: 1;
}

.mediablock {
  position: relative;
  top: 15px;
  padding: 0 15px;
  box-sizing: border-box;
}

.detalisMedia {

  &_title {
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #666;
    margin: 24px 0 8px;
  }

  &_info{

  }
}

.mediaItem {
  width: 14.28%;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .05);
  background: #eee;
  cursor: pointer;
  &_box {
    width: 100%;
    &_img {
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      padding-top: 100%;
      box-sizing: border-box;
    }
  }
}

.media-frame-title {
  padding: 0 16px;
  font-size: 22px;
  line-height: 50px;
  margin: 0;
  height: 50px;
  box-sizing: content-box;
  display: list-item;
}

.media-frame-router {
  height: 36px;
  position: relative;
  padding: 0 6px;
  margin: 0;
  clear: both;
  user-select: none;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.media-router .active, .media-router > a.active:last-child {
  margin: -1px -1px 0;
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: none;
}

.media-router .active, .media-router .active:hover {
  color: #32373c;
}

.media-router > a {
  position: relative;
  padding: 8px 10px 9px;
  margin: 0;
}

.media-router a {
  transition: none;
}

.media-menu > a, .media-router > a {
  line-height: 18px;
  font-size: 14px;
  text-decoration: none;
}

.media-frame a {
  border-bottom: none;
  color: #0073aa;
}

.media-frame-content {
  margin: 0;
  overflow: auto;
  background: #fff;
  border-top: 1px solid #ddd;
  margin-top: -1px;
  position: relative;
  z-index: 0;
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.media-frame .uploader-inline {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  align-self: center;
  width: 100%;
}

.media-frame .button, .media-frame .button-primary, .media-frame .button-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
}

.uploader-inline-content .upload-ui {
  margin: 2em 0;
}

.uploader-inline .drop-instructions {
  display: block;
}

.uploader-inline .drop-instructions {
  display: block;
}

.media-frame .button {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
}

.media-frame .button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.media-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 15px 0;
}

.media-router {
  position: relative;
  padding: 0 6px;
  margin: 0;
  clear: both;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
}

.button.button-hero {
  font-size: 14px;
  height: 46px;
  line-height: 44px;
  padding: 0 36px;
}

.uploader-inline p {
  font-size: 12px;
  margin: .5em 0;
}

.uploader-inline .browser {
  display: inline-block !important;
}

.mediaFiles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  &_main {
    width: calc(100% - 267px);
  }
  &_sitebar {
    width: 267px;
    padding: 0 16px 24px;
    z-index: 75;
    border-left: 1px solid #ddd;
    overflow: auto;
    background: #f3f3f3;
    min-height: 200px;
  }
}

.media-frame-toolbar {
  padding: 0 16px;
  border: 0 solid #ddd;
  border-top: 1px solid #ddd;
}